* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  max-height: 100vh;
  overflow-y: hidden;
  max-width: 100vw;
}
.Main_container {
  height: 100vh;
  width: 200px;
  background-color: rgb(44, 49, 65);
  overflow: hidden;
  position: sticky;

  .profile_title {
    color: aqua;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding-top: 30px;
  }

  .Sidebar_nav {
    height: auto;
    width: 250px;
    padding: 0%;

    .row {
      margin-top: 15px;
      width: 100%;
      height: 30px;
      list-style-type: none;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
      color: white;

      #icon {
        flex: 30%;
        display: grid;
        place-items: center;
      }
      #text {
        flex: 70%;
      }

      &:hover {
        cursor: pointer;
        background-color: aqua;
        color: black;
      }
    }
    .Nav_ul #Active {
      background-color: aqua;
      color: blue;
    }
  }
}

.profile_logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 40px;
  margin-left: 40px;
  border: 2px solid white;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}
.socialmedia_links {
  margin-top: 20px;
  width: 100%;
  height: 20px;
  display: grid;
  place-items: center;
}
.medial_links {
  background: orange;
  color: #575757;
  text-align: center;
  height: 2em;
  width: 3em;
  line-height: 2.5em;
  border-bottom: 1px solid #060606;
  position: relative;
  display: block;
  text-decoration: none;
  box-shadow: -2em 1.5em 0 #b83b5e25;
  transition: all 0.25s linear;
  transform: rotate(-23deg) skew(40deg, 2deg);
}

.medial_links:hover {
  background: #666;
  color: #fff;
  transform: translate(0.8em, -0.8em);
  transition: all 0.25s linear;
  box-shadow: -2em 2em 0 #b83b5e25;

  .medial_links:hover:before,
  .medial_links:hover:after {
    transition: all 0.25s linear;

    .medial_links:hover:before {
      background: #555;
      width: 1em;
      top: 0.5em;
      left: -1em;
      .medial_links:hover:after {
        background: #555;
        width: 1em;
        bottom: -2.5em;
        left: 1em;
        height: 4em;

        .medial_links:before,
        .medial_links:after {
          content: "";
          position: absolute;
          transition: all 0.25s linear;
          width: 0.5em;
          .medial_links:after {
            height: 4em;
            background: #ffde7d;
            bottom: -2.25em;
            left: 1.5em;
            transform: rotate(90deg) skew(0, 45deg);
            .medial_links:before {
              height: 2.5em;
              background: #fce38a;
              top: 0.25em;
              left: -0.5em;
              transform: skewY(-45deg);
            }
          }
        }
      }
    }
  }
}
